.Rproj.user
.Rhistory
.RData
.RDataTmp
test.png
spatialStats_initpts_v2.html
spatialStats_initpts.html
spatialStats_initpts_cache
spatialStats_initpts_files
check_backtracked2_cache
paperplots_v2.html
paperplots_v2_cache
paperplots_v2_files
paperplots_v3.html
paperplots_v3_cache
paperplots_v3_files
check_backtracked2.html
*.html